body {
    margin: 0;
    text-align: center;
}

#title {
    position: relative;
    background-color: #ffd1dc;
}
.title {
    margin-top: 15%;
}

.title .btn {
    margin-top: 10%;
    margin-bottom: 10%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
 }
 .skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills {
    margin-top: 50px;
    margin-bottom: 100px;
} 